.instagram-feed {
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 50%;
  right: 50%;
  position: relative;
  background: #fff;
  padding: 0;
}

.lightwidget-widget {
  min-height: 0;
  height: auto;
  width: 100vw !important;
  border: none;
  display: block;
}

@media (max-width: 768px) {
  .instagram-feed {
    padding: 0;
  }
  .lightwidget-widget {
    min-height: 60vw;
  }
}

.section-title {
  margin-bottom: 2rem;
} 